# Ignore configuration files that may contain sensitive information.
#sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

sites/all/modules/customs/wechat/
sites/all/modules/customs/wechatdemo/
*.txt
*.md
sftp-config.json