
/*dev*/
html body.admin-menu{
	margin-top: 0 !important;
}

#block-block-1{
  display: none;
}

p br{
  line-height: 60px;
}
body{
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1.page-header{
  font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
}
.main-container .row-simple-view{
  max-width: 730px;
  margin-right: auto;
  margin-left: auto;
}
.page-header{
  border: none;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.node .field-name-body{
  padding-top: 10px;
}
.node .field-name-body p{
  margin:  0 0 25px 0 ;
}
.logo img{
  max-height: 34px;
}

b, strong {
  font-weight: bold;
}
p{
  text-align: justify;
  text-justify: inter-ideograph;
  word-break: initial;
  word-break: break-word;
      display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
        color: #2f2f2f;
    font-weight: normal;
    line-height: 1.7;
}
.node .field-name-body p.data-ul{
  margin-bottom: 0;
}
/*lingming style*/
.verse-box,.poem-box,.thought-box {
  padding: 10px;
}

.poem-box {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, "Kai", "Kaiti SC", "KaiTi", "BiauKai", "楷体", "楷体_GB2312", serif;
}
.poem-box br{
  line-height: 1.7;
}

.thought-box {
  text-align: center;
  color: #00AEEF;
}

.verse-box {
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border-left: 4px solid #999999;
  word-break: break-word;
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
}

.verse-box:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
/*footer link*/
#block-block-1 p{
  text-align: center;
}
.footer {
  padding-top: 0;
}

/*index list*/
p.list-top{
  margin-top: 0;
}
.js-row-article-list .col-xs-3{
  padding: 0;
}



.prev-next-post {
  padding-top: 10px
}
.prev-next-post .group {
  float: right;
}
.prev-next-post .group a {
  background: #e6e6e6;
  color: #4d4d4d;
  border-bottom: 0;
  padding: 10px;
}

.prev-next-post .previous a {
  background: #2f9833;
  color: white;
}

.prev-next-post .group a:hover {
  background: #2f9833;
  color: white;
}


.rich_media_tool {
  overflow: hidden;
  padding: 10px 0;
}

.rich_media_tool .meta_primary {
    float: left;
    margin-right: 10px
}

.rich_media_tool .meta_extra {
    float: right;
    margin-left: 10px
}

.rich_media_tool .meta_praise {
    margin-right: 0;
    margin-left: 8px
}
.media_tool_meta i {
    vertical-align: 0;
    position: relative;
    top: 1px;
    margin-right: 3px
}

.meta_praise {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    min-width: 3.5em
}

.meta_praise .praise_num {
    display: inline-block;
    vertical-align: top
}

.icon_praise_gray {
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAA+CAYAAAA1dwvuAAAACXBIWXMAAA7EAAAOxAGVKw4bAAACd0lEQVRYhe2XMWhUMRjHfycdpDg4iJN26CQih4NUlFIc3iTasaAO+iZBnorIId2CDg6PLqWDXSy0p28TJ6ejILgoKiLFSeRcnASLnDf2HPKll8b3ah5NQPB+cHzJl0v+73J5Sf6NwWCAD6kqxoEV4BywCTwA2j59V9QlxrxUNJeBOSkfBtaAHvDcp/O+GkJHJd4H7kr5nm/nOkJHJH4FHkv5WAyhUxLfAgelvBlUKFXFBNCU6oYl+j6oEHohADwFtoDTUn8dTChVxX7gjlSfSJyS+CaYEDCPXs4d4IXkzDR+8BWqfI9SVUyil/ENST20ml8BF4Afu4z9HT3V80B/TAY9CxTABNAHxp1Oj4B1q34dWAamGa5Al0PALfSs3TS/aE1EcERWgQXgozPIN+Ai6O2ljFQVM8BLZJqN0KTEhgj9kvrViqf1wYz5BcoXQ38Pg9uckfiuSigU0xLXowmlqpgCjgNd4FM0IeCKxGcmEUtoRqLZScILpaqYA06iN9/tTTfGLzKvxLKdDCqUquIEcB59xK9GE2J4xLeBn3ZD1abaq/sQqSpmgWvo82rBbTdCPeAA4N69/noXS1XhphaBz27SPPVtapz/FXSBFsNDcgcN3wvkiBEjRoSndAtqLXXKvuvtYfMs+SP3T3tYm6ge1iaqh7UJ62HRTqNZko/mYV3CeVjA9rAuUTxsGd4edrcX1vWwddn2sHmWaA/bWuq4HnYLff3aC7U8bAiaMPyPJp3GhnxCUOlhQxPdwxrieViLbp4lUT2sIbqHNcTzsBYbeZZE9bCGeB7WIrqHNbTzLNnhYWMIlXpYI9Rz8gM8/GsFi3mW/Ace9jf8QZwIX5o4uQAAAABJRU5ErkJggg==) no-repeat 0 0;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    display: inline-block;
    -webkit-background-size: 100% auto;
    background-size: 100% auto
}

.icon_praise_gray.praised {
    background-position: 0 -18px
}

.praised .icon_praise_gray {
    background-position: 0 -18px
}

.text-format-wrapper fieldset{
  display: none;
}
